.transaction-wrapper {
  border-left: 1px solid black;
  width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 3em;
}

.close-button {
  width: 24px;
  height: 24px;
}

.transaction-data {
  display: flex;
  justify-content: space-between;
}
